@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  background: #f5f6e5;
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #2ca81e;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #2ca81e;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* header stuff */
.topheader {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 2px;
  right: unset;
  height: 69px;
  width: 100%;
}
.rectangle {
  display: inline-block;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #f5f6e5;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  right: unset;
  height: 69px;
  width: 100%;
}

/* home page */
.birdlistmaker {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.birdlistmaker bodyofpage {
  position: absolute;
  left: 10%;
  z-index: 0;
  top: 125px;
  right: auto;
  width: 75%;
}

.birdlistmaker formbox {
  position: relative;
  z-index: 0;
  top: 85px;
  /*left: 416px;*/
  right: unset;
  height: 310px;
  width: 100%;
}
.birdlistmaker howitworks {
  position: relative;
  z-index: 0;
  top: 0px;
  /*left: 0px;*/
  right: unset;
  height: 540px;
  width: 75%;
}
.birdlistmaker label {
  text-align: left;
  display: block;
}
.birdlistmaker h1 {
  font-size: 48px;
  color: #54a257;
  font-weight: 800;
  text-align: left;
}
.birdlistmaker h2 {
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  color: #1d7320;
  position: absolute;
  z-index: 0;
  top: 15px;
  left: 24px;
}
.birdlistmaker h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.birdlistmaker h4 {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #54a257;
  margin-bottom: 10px;
}
.birdlistmaker input, .birdlistmaker textarea, .birdlistmaker select {
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #767676;
  background:#e2e2d5;
  height: 52px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.birdlistmaker button {
  padding: 10px 10px;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  height: 50px;

  background: #54a257;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

/* picking birds */
.itinerarygetter {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.itinerarygetter h1 {
  font-size: 48px;
  color: #54a257;
  font-weight: 800;
  text-align: left;
}
.itinerarygetter label {
  text-align: left;
  display: block;
}
.itinerarygetter h2 {
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  color: #1d7320;
  position: absolute;
  z-index: 0;
  top: 15px;
  left: 24px;
}
.itinerarygetter h3 {
  margin-bottom: 10px;
}
.itinerarygetter input, .itinerarygetter textarea, .itinerarygetter select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.itinerarygetter button {
  padding: 10px 10px;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  height: 50px;

  background: #54a257;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}


/* final itinerary page */
.finalitinerary {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.finalitinerary label {
  text-align: left;
  display: block;
}
.finalitinerary h1 {
  font-size: 48px;
  color: #54a257;
  font-weight: 800;
  text-align: center;
}
.finalitinerary h2 {
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  color: #1d7320;
  position: absolute;
  z-index: 0;
  top: 15px;
  left: 24px;
}
.finalitinerary input, .finalitinerary textarea, .finalitinerary select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.finalitinerary button {
  padding: 10px 10px;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  height: 50px;

  background: #54a257;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}